input[type=text]:not(.browser-default):focus:not([readonly]){
    border-bottom: 1px solid #f6970a;
    -webkit-box-shadow: 0 1px 0 0 #f6970a;
    box-shadow: 0 1px 0 0 #f6970a;
}
input[type=text]:not(.browser-default):focus:not([readonly])+label{
    color: #f6970a;
}
.title {
    font-family: 'Shadows Into Light', cursive;
}
.title-orange {
    color: #f6970a;
}
.btn {
    background-color: #f6970a;
}
.btn:hover {
    background-color: #be780e;
}
.btn:focus {
    background-color: #be780e;
}